<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/stylesheets/Home.css">
    <link rel="stylesheet" href="/stylesheets/contactus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <div class="left-section">
            <img id="logo" src="/images/LOGO.png" alt="IEEE CIS LOGO">
            <p id="message">
            <pre>

IEEE COMPUTATIONAL INTELLIGENCE SOCIETY CHAPTER
ANURAG UNIVERSITY
            </pre>
            </p>
        </div>
        <div class="right-section">
            <a href="http://localhost:3000/"><button class="scrollToSectionButton"
                    onclick="scrollToSection">Home</button></a>
            <a href="http://localhost:3000/CoreCommittee"><button class="scrollToSectionButton"
                    onclick="scrollToSection('coreCommittee')">Core Committee</button></a>
            <a href="http://localhost:3000/Members"><button class="scrollToSectionButton"
                    onclick="scrollToSection('about')">Members</button></a>
            <a href="http://localhost:3000/Events"><button class="scrollToSectionButton"
                    onclick="scrollToSection('events')">Events</button></a>
            <a href="http://localhost:3000/Join"><button class="scrollToSectionButton"
                    onclick="scrollToSection('coreCommittee')">Join CIS</button></a>
            <a href="http://localhost:3000/ContactUs"><button class="scrollToSectionButton"
                    onclick="scrollToSection('contactUs')">Contact Us</button></a>
        </div>
    </header>
    <pre id="one">
                                for any quieres mail us at </pre>
    <div id="container">
        <pre id="email">
                ieeecisau@anurag.edu.in</pre>
    </div>
    <pre>












    </pre>
    <section class="footer">
        <div class="footer-row">
            <div class="footer-col">
                <h4>Address</h4>
                <p>IEEE CIS Chapter</p>
                <p>IEEE Anurag University Student Branch</p>
                <p>Hyderabad</p>
                <p>Telangana</p>

            </div>
            <div class="footer-col">
                <h4>Social handles</h4>
                <ul class="links">
                    <li>
                        <a href="https://www.linkedin.com/in/ieee-cis-student-chapter-ai-dept-anurag-university-12a468295?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                            target="_blank">Linkedin</a>
                        <span class="social-icons">
                            <a class="linkedin"
                                href="https://www.linkedin.com/in/ieee-cis-student-chapter-ai-dept-anurag-university-12a468295?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://instagram.com/ieee_cis_au?igshid=MXNyeG5wcjByaTk5dQ=="
                            target="_blank">Instagram</a>
                        <span class="social-icons">
                            <a class="instagram" href="https://instagram.com/ieee_cis_au?igshid=MXNyeG5wcjByaTk5dQ=="
                                target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://youtube.com/@IEEECISAU?feature=shared">Youtube</a>
                        <span class="social-icons">
                            <a class="youtube" href="https://youtube.com/@IEEECISAU?feature=shared" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Notifications</h4>
                <p>
                    Subscribe to receive notifications about our
                    events, updates and many more.....
                </p>
                <form action="http://localhost:3000/notify" method="post">
                    <input type="text" name="phone" placeholder="Enter your phone number" required>
                    <button type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </section>
</body>

</html>