<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/Home.css">
    <title>IEEE CIS AU</title>
</head>

<body>
    <header>
        <div class="left-section">
            <img id="logo" src="/images/LOGO.png" alt="IEEE CIS LOGO">
            <p id="message">
            <pre>
                
IEEE COMPUTATIONAL INTELLIGENCE SOCIETY CHAPTER
ANURAG UNIVERSITY
            </pre>
            </p>
        </div>
        <div class="right-section">
            <a href="http://localhost:3000/"><button class="scrollToSectionButton"
                    onclick="scrollToSection">Home</button></a>
            <a href="http://localhost:3000/CoreCommittee"><button class="scrollToSectionButton"
                    onclick="scrollToSection('coreCommittee')">Core Committee</button></a>
            <a href="http://localhost:3000/Members"><button class="scrollToSectionButton"
                    onclick="scrollToSection('about')">Members</button></a>
            <a href="http://localhost:3000/Events"><button class="scrollToSectionButton"
                    onclick="scrollToSection('events')">Events</button></a>
            <a href="http://localhost:3000/Join"><button class="scrollToSectionButton"
                    onclick="scrollToSection('coreCommittee')">Join CIS</button></a>
            <a href="http://localhost:3000/ContactUs"><button class="scrollToSectionButton"
                    onclick="scrollToSection('contactUs')">Contact Us</button></a>
        </div>
    </header>
    <br>
    <section class="card">
        <h2 id="about1">About Us</h2>
        <br>
        <p id="about2">The IEEE Computational Intelligence Society (CIS) Student Chapter at Anurag
            University is a dynamic and innovative community of tech enthusiasts, aspiring
            engineers, and visionary problem-solvers. Our mission is to unlock the boundless
            potential of Computational Intelligence, Data Science, and Artificial Intelligence,
            shaping the future of technology one algorithm at a time. We are also dedicated to
            empowering our members with the knowledge and skills required to excel in the
            ever-evolving world of technology. We're committed to fostering innovation,
            providing learning opportunities, and creating a platform for collaboration.
            Our chapter serves as a hub of exploration, learning, and innovation. We organize a
            wide range of events, including workshops, seminars, hackathons, and expert talks,
            all designed to keep you at the forefront of technological advancements. We foster
            a culture of continuous learning, networking, and collaboration, empowering our
            members to transform their knowledge into real-world solutions. Within our vibrant
            community, we celebrate diverse perspectives that foster innovation, firmly
            believing that together, we can cultivate a more inclusive and dynamic tech
            landscape. Our chapter is committed to equipping members with the knowledge,
            skills, and a platform essential for launching their tech careers.</p>
        </p>

    </section>
    <br>
    <section class="card">
        <h2 id="vision1">Our Vision</h2>
        <br>
        <p id="vision2">Our vision is to be at the forefront of technological evolution, shaping a future
            where our members are not just consumers but creators, defining the landscape of
            Computational Intelligence, Data Science, and AI. We aspire to be a dynamic hub of
            innovation, learning, and collaboration, contributing to the ever-expanding world
            of technology. Our goal is to empower our members to become influential tech
            leaders and change-makers, leveraging their expertise to address the challenges and
            opportunities of a rapidly evolving digital world.
            Our vision also encompasses harnessing the power of AI, Data Science, and
            Computational Intelligence for the greater good. We aim to channel our expertise
            towards addressing societal and environmental challenges, making a positive and
            sustainable impact. We aspire to be a chapter that embraces and celebrates
            diversity, recognizing that different perspectives and experiences lead to more
            innovative solutions and a richer tech community.</p>
        </p>
    </section>
    <br>
    <section class="card">
        <h2 id="mission1">Our Mission</h2>
        <br>
        <p id="mission2">The mission of the IEEE Computational Intelligence Society (CIS) Student Chapter at
            Anurag University is firmly anchored in our commitment to turn our vision into
            tangible reality. We are dedicated to empowering our members to become creators and
            innovators in the fields of Computational Intelligence, Data Science, and AI. We
            believe in equipping them with the knowledge, skills, and tools to actively shape
            the technological landscape.
            Our mission extends beyond technology for technology's sake. We are committed to

            harnessing our expertise for a purpose, striving to address real-world challenges
            and make a positive impact on society and the environment. We aim to provide
            mentorship and inspiration for our members, helping them become influential tech
            leaders and change-makers. Our mission is to create a supportive environment where
            they can flourish and inspire future generations.</p>
        </p>
    </section>
    <br>
    <section class="card">
        <h3>Some of the Advantages of Joining IEEE CIS Chapter are</h2>
            <p id="vision2">Knowledge and skill enhancement</p>
            <p id="vision2">Hands-on experience through hackathons and projects</p>
            <p id="vision2">Networking opportunities with peers and professionals</p>
            <p id="vision2">Career development resources</p>
    </section>
    <br>
    <!-- Footer Section -->
    <section class="footer">
        <div class="footer-row">
            <div class="footer-col">
                <h4>Address</h4>
                <p>IEEE CIS Chapter</p>
                <p>IEEE Anurag University Student Branch</p>
                <p>Hyderabad</p>
                <p>Telangana</p>

            </div>
            <div class="footer-col">
                <h4>Social handles</h4>
                <ul class="links">
                    <li>
                        <a href="https://www.linkedin.com/in/ieee-cis-student-chapter-ai-dept-anurag-university-12a468295?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                            target="_blank">Linkedin</a>
                        <span class="social-icons">
                            <a class="linkedin"
                                href="https://www.linkedin.com/in/ieee-cis-student-chapter-ai-dept-anurag-university-12a468295?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://instagram.com/ieee_cis_au?igshid=MXNyeG5wcjByaTk5dQ=="
                            target="_blank">Instagram</a>
                        <span class="social-icons">
                            <a class="instagram" href="https://instagram.com/ieee_cis_au?igshid=MXNyeG5wcjByaTk5dQ=="
                                target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </span>
                    </li>
                    <li>
                        <a href="https://youtube.com/@IEEECISAU?feature=shared">Youtube</a>
                        <span class="social-icons">
                            <a class="youtube" href="https://youtube.com/@IEEECISAU?feature=shared" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Notifications</h4>
                <p>
                    Subscribe to receive notifications about our
                    events, updates and many more.....
                </p>
                <form action="http://localhost:3000/notify" method="post">
                    <input type="text" name="phone" placeholder="Enter your phone number" required>
                    <button type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </section>

</body>

</html>